@media only screen and (min-width: 1200px) {
  .ui.container {
    width: 77%;
  }
}

body {
  background: rgb(255 255 255 / 50%);
}

a {
  color: #4caf50;
  text-decoration: none;
}

a {
  color: #4caf50;
  text-decoration: none;
}

.ui.card>:only-child, .ui.cards>.card>:only-child {
    border-radius: 0px!important;
}
.ui.card>:last-child, .ui.cards>.card>:last-child {
    border-radius: 0px!important;
}
.ui.card>:first-child, .ui.cards>.card>:first-child {
    border-radius: 0px!important;
}
/**进度条**/
.ui.fine.progress> .bar {
  background-color: #21ba45!important;
}
.ui.progress> .bar {
  background-color: slategrey;
}
.ui.progress.fine .bar {
  background-color: #21ba45!important;
}
.ui.progress.warning .bar {
  background-color: #ff9800!important;
}
.ui.progress.error .bar {
  background-color: #e41e10!important;
}
.ui.progress.offline .bar {
  background-color: slategrey;
}

/**未登录提示框**/
.ui.message {
  border: 0px solid transparent;
  border-radius: 0;
  background: rgb(255 255 255 / 18%);
}

/**后台文本域**/
.ui.form select {
  background: rgb(255 255 255 / 50%);
}
.ui.form textarea {
  background: rgb(255 255 255 / 50%);
}
.ui.checkbox input:checked~.box:before, .ui.checkbox input:checked~label:before {
  background:rgb(255 255 255 / 50%);
  border-color: rgba(34,36,38,.35);
}
.ui.checkbox input:checked~.box:after, .ui.checkbox input:checked~label:after {
  background:rgb(255 255 255 / 50%);
}

/**信息卡片透明**/
.ui.four.cards>.card {
    position: relative;
    border-radius: 10px;
    margin-right: .5em;
    margin-bottom: .5em;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    background-color: #fafafaa3;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/**信息弹框透明**/
.status.cards .ui.content.popup {
    border-radius: 5px;
    border: 1px solid transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    inset: 28.1562px auto auto 214.82px;
    background-color: #fafafaeb;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/**背景图片**/
#bg {
  content: " ";
  background: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://server.nange.cn/static/bg/04.JPG);
  }

  /**后台文本信息可选可复制**/
  .ui.basic.table{
    user-select: text;
  }

.column {
margin-top: 2px;
}

.ui.progress {
border-radius: 15px;
}
.ui.progress .bar {
border-radius: 15px;
}
/**默认进度条样式**/
.ui.progress .bar {
  min-width: 1.8em !important;
  border-radius: 15px;
  line-height: 1.65em;
  }

.ui.card>.content>.description, .ui.cards>.card>.content>.description {
color: #767676;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.ui.teal.button, .ui.teal.buttons .button {
    background-color: #ff9800;
}
/**页头样式**/
.ui.large.menu {
  border: 0;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 55%);
}
/**下拉菜单样式**/
.ui.dropdown .menu {
  border: 0;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 55%);
}
/**页脚样式**/
.ui.inverted.segment, .ui.primary.inverted.segment {
  width: 100%;
  color: #8b6cc1f7;
  background-color: rgba(255, 255, 255, 55%);
  position: fixed;
  bottom: 0;
}

.ui.top.popup:before {
border-color: #fafafaeb transparent transparent;
}
.ui.popup:before {
border-color: #fafafaeb transparent transparent;
}

.ui.bottom.left.popup:before {
    border-radius: 0px;
    border: 1px solid transparent;
    border-color: #fafafaeb transparent transparent;
    background: #fafafaeb;
    -webkit-box-shadow: 0px 0px 0 0 #fafafaeb;
    box-shadow: 0px 0px 0 0 #fafafaeb;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.ui.bottom.right.popup:before {
    border-radius: 0px;
    border: 1px solid transparent;
    border-color: #fafafaeb transparent transparent;
    background: #fafafaeb;
    -webkit-box-shadow: 0px 0px 0 0 #fafafaeb;
    box-shadow: 0px 0px 0 0 #fafafaeb;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.ui.top.left.popup:before {
border-radius: 0px;
    border: 1px solid transparent;
    border-color: #fafafaeb transparent transparent;
    background: #fafafaeb;
    -webkit-box-shadow: 0px 0px 0 0 #fafafaeb;
    box-shadow: 0px 0px 0 0 #fafafaeb;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.ui.top.right.popup:before {
border-radius: 0px;
    border: 1px solid transparent;
    border-color: #fafafaeb transparent transparent;
    background: #fafafaeb;
    -webkit-box-shadow: 0px 0px 0 0 #fafafaeb;
    box-shadow: 0px 0px 0 0 #fafafaeb;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.ui.left.center.popup:before {
border-radius: 0px;
    border: 1px solid transparent;
    border-color: #fafafaeb transparent transparent;
    background: #fafafaeb;
    -webkit-box-shadow: 0px 0px 0 0 #fafafaeb;
    box-shadow: 0px 0px 0 0 #fafafaeb;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

i.yellow.icon {
  color: #ff9800!important;
}
i.clock.icon {
color: #f2711c;
}
i.server.icon {
  color: #079a0d!important;
}
i.rss.icon {
color: #ffc107!important;
}
i.bell.icon {
  color: red!important;
}
i.setting.icon {
color: #2196f3!important;
}

i.arrow.alternate.circle.down.outline.icon {
color: green;
}
i.arrow.alternate.circle.up.outline.icon {
color: #ff5722;
}
.nb-container {
  padding-top: 75px;
  min-height: 100vh;
  padding-bottom: 55px;
  margin-bottom: -47px;
}

#app .ui.fluid.accordion {
  border-radius: 0px;
  margin-bottom: 1rem;
  background-color: #fbfbfb26;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.login.nb-container {
  display: flex;
  align-items: center;
  padding-top: unset;
}

.login.nb-container > .grid {
  width: 100%;
  margin: 0 auto;
}

.login.nb-container > .grid .column {
  max-width: 450px;
}

.status.cards .flag {
  margin-right: 0 !important;
}

.status.cards .header > .info.icon {
  float: right;
  margin-right: 0;
  cursor: pointer;
}

.status.cards .wide.column {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 2rem !important;
}

.status.cards .three.wide.column {
  padding-right: 0 !important;
}

.status.cards .wide.column:nth-child(1) {
  margin-top: 1rem !important;
}

.status.cards .wide.column:nth-child(2) {
  margin-top: 1rem !important;
}

.status.cards .description {
  padding-bottom: 1rem !important;
}

.status.cards .ui.content.popup {
  min-width: 255px;
}

.status.cards .outline.icon {
  margin-right: 0 !important;
}

.ui.progress .bar {
  min-width: 1.75em !important;
  text-align: right;
  padding-right: 0.4em;
  line-height: 1.75em;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 700;
}

.service-status .delay-today {
  display: flex;
  align-items: center;
}

.service-status .delay-today > i {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  border-radius: 0.6em;
  background-color: grey;
  margin-right: 0.3em;
}

.service-status .danger {
  background-color: #f44336 !important;
}

.service-status .good {
  background-color: rgb(76,175,80) !important;
}

.service-status .warning {
  background-color: #ff9800 !important;
}

/** 状态监测页样式**/
.ui.table {
  font-size: 1em;
  position: relative;
  border-radius: 10px;
  margin-right: .5em;
  margin-bottom: .5em;
  border: 1px solid transparent;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  background-color: #fafafa80;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.ui.table [class*="center aligned"], .ui.table[class*="center aligned"] {
  background-color: rgb(255 255 255 / 0%);
}

.ui.button {
      background: rgb(0 0 0 / 40%) none;
}

[data-tooltip]:after {
  border: 0px;
  border-radius: 0px;
  background: rgb(255 255 255 / 78%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
