{{define "common/menu"}}
<div class="ui large top fixed menu nb-menu">
    <div class="ui container">
        <div class="item">
         <a class="logo{{if eq .MatchedPath " /"}} active{{end}}" href="/"><img src="/static/logo.png" style="display: inline-block; vertical-align: middle; margin: -.3em 0; width: 2.5em;"></a>
        </div>
        <a class="item" href="http://status.nange.cn/" target="_blank">状态</a>
        {{if .Admin}}
        <a class="item{{if eq .MatchedPath " /server"}} active{{end}}" href="/server">服务器</a>
        <a class="item{{if eq .MatchedPath " /notification"}} active{{end}}" href="/notification">通知</a>
        <a class="item{{if eq .MatchedPath " /setting"}} active{{end}}" href="/setting">设置</a>
        {{end}}
        <div class="right menu">
            <div class="item">
                {{if .Admin}}
                <div class="ui simple dropdown">
                    <div class="text">
                        <img class="ui avatar image" src="{{.Admin.AvatarURL}}"> {{.Admin.Name}}
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <button class="item" onclick="showConfirm('确认注销？','注销后您必须重新登入才能使用',logout,{{.Admin.ID}})">
                            <i class="logout icon"></i>注销
                        </button>
                    </div>
                </div>
                {{else}}
                <a href="/login" class="ui large teal button">登入</a>
                {{end}}
            </div>
        </div>
    </div>
</div>
{{template "component/confirm" .}}
{{end}}